html {
  background: black;
  color: white;
  font-family: 'Veranda';
  text-align: center;
}

.header {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.download {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

.video {
  text-align: center;
  margin: 0 auto;
}

.camp {
  text-align: center;
  margin: 0 auto;
}

h2 {
  color: white;
  text-align: center;
  font-size: 42px;
}

.txt {
  color: gray;
  font-size: 21px;
}

.phone {
  margin: 0 auto;
}

footer {
  text-align: right;
  color: gray;
  font-size: 42px;
}
