.storyBarContainer{
    display: flex;
    justify-content: center;
    margin:20px;
}
.stories{
    border: 1px lightgray solid;
    width: 677px;
    height:100px;
    margin:20px;
    background-color: white
}