#header {
  background-image: url('./image1.jpg');
  text-align: center;
  font-size: 50px;
  color: khaki;
}

#body {
  font-family: Helvetica;
}

#top {
  font-size: 32px;
  font-weight: bold;
}

#middle {
  font-size: 32px;
  font-weight: bold;
}

#bottom {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: white;
}

.price {
  color: blue !important;
  font-weight: bold !important;
}
