.app {
  text-align: center;
  background-color:#fafafa;
  justify-content: center;
  display:flex;
  flex-direction: column;
}


.Post{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  
}

.Header{
  position:sticky;
  
}

.ImageUploads{
    align-content: center;
   
}
