.postContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width:680px;
    justify-content: center;
    z-index: 10;
    background-color: white;
    margin-bottom: 45px;
    justify-content: space-between;
    
    
}

.postHeader{
    
    width: 677px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.postImage{
 width: 100%;
 object-fit: contain;
 max-width: 680px;
 
}

.postAvatar{
    margin:10px;
    cursor: pointer;
}

.commentContainer{
    display:flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid lightgrey;
    width:677px;
    text-align: left;

    
}
.headerContainer{
    border:1px solid lightgray;
    width: 677px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.headerMenu{
    margin-right: 10px;
    cursor: pointer;
}
.menu{
    margin-left:10px;
}
.username{
    margin-left:10px;
}
.comments{
    margin-left:10px;
}
.addPosts{
    margin-left:10px;
}