.mainHeader{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px lightgray solid;
    z-index: 1000;
    align-items: center;

    
    
}

.headerImage{
    object-fit:container;
}

.sideNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}