.imageUpload{
    border: 1px lightgray solid;
    width: 677px;
    height:150px;
    margin-top: 30px;
    align-self: center;
}

.uploadForm{
    flex-direction: column;
    display: flex;

}

.file{
    margin:10px;
}

.caption{
    margin:10px;
}

.button{
    align-self: center;
}
